@model CentricProject_Team9.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionExplanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
